body{
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    height: 100vh;
    max-height: 100vh;
}

.menu_div{
    flex: 0 0 15%;
    background-color:rgb(66, 66, 66)
}
.hd_div{
    margin-top: 10vh;
    text-align: center;
} h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.dash_logo{
    margin-top: 8vh;
    text-align: center;
} p {
    color: white;
    font-size: large;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.dash_img{
    width: 70px;
    height: 70px;
    margin-bottom: 0.5px;
}

.form_container{
    display:flex;
    margin-top: 6vw;
   
    
 
        width: 70%;
        padding: 70px;
        input{
            padding: 10px;
            border-color: #000000;
            border-radius: 20px;
        font-size: 16px;
       
        }
        .form_details{
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            display:flex;
            flex-direction: column; 
            text-align: center;   
            
    
        }
        .form_row {
            display: flex;
            gap: 20px; /* Space between Mobile and Email sections */
        }
        
        .form_half {
            
            gap: 84px;
            flex: 1;
            align-items: center;
            display: flex;
            flex-direction:row;
            
            
        }
        .form_half label{
            display: flex;
            width: 5vh;
            align-items: center;
        }
        
   
        }
        
       
            
           
    .form_group{

        
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        height: 3vw;
        display:flex;
        align-items:center;
        gap: 5px;
        width: 100%;
    }

.form_group label {

    display:flex;
    width: 8vw;
    font-size: 16px;
    color: #333;
}

.form_group input[type="text"],
.form_group input[type="tel"],
.form_group input[type="email"],
.form_group input[type="number"],
.form_group input[type="date"] {  
  

}


    input:focus {
        border-color: #af4c4c;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        outline: none;
    }
    
    input::placeholder {
        color: #000000;
        font-style: italic;
    }
    .form_details{
        margin-top: 10vw;
        margin-left: 3px;
        display:flex;
        gap: 10px;
        margin-bottom: 2px;
    }

    



input[type="checkbox"]{


    width: 15px;  /* Increase the width */
    height: 15px; /* Increase the height */
    transform: scale(1.5); /* Scale it up */
    -webkit-transform: scale(1.5); /* For older webkit browsers */

}
label {
    font-size: 16px;
}


._button .button1{
    text-align: center;
    padding: 10px;
    background-color: #f10c0c;
            border-color: #000000;
            border-radius: 20px;
    
}
._button .button2{
    text-align: center;
    padding: 10px;
    background-color: #16c35e;
            border-color: #000000;
            border-radius: 20px;
    
}
input[type="button"] {
   width: 17vw;
    height: 5vh;
    padding: 1px 20px;
    
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 2vw;
    margin-top:12px;
}
input[type="submit"] {
    width: 17vw;
     height: 5vh;
     padding: 1px 20px;
     
     color: #fff;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     margin-left: 2vw;
     margin-top:12px;
 }


input[type="button"]:hover {
    background-color: #555;
}
input[type="submit"]:hover {
    background-color: #555;
}


  
.main_heading{
    text-decoration: underline;
    text-align: center;
   
    position: absolute;  
       /* Space from the top of the page */
        
        
        
}


.form_container h1{
    text-align: center;
    text-decoration-color:black ;
}